<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>

<body>
<h1>All products</h1>
<ul>
<% for (let product of products){  %>
   <li>Name:  <%= product.name %></li>
   <br>
   <li>Price: <%= product.price  %></li>
   <br>
   <li>Category: <%= product.category %></li>
<% } %>
</ul>
</body>

</html>
